<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Fortnox OAuth2 Configuration -->
    <add key="Fortnox:ClientId" value="YOUR_CLIENT_ID_HERE" />
    <add key="Fortnox:ClientSecret" value="YOUR_CLIENT_SECRET_HERE" />
    <add key="Fortnox:RedirectUri" value="https://localhost:44300/auth/callback" />
    <add key="Fortnox:AuthEndpoint" value="https://apps.fortnox.se/oauth-v1/auth" />
    <add key="Fortnox:TokenEndpoint" value="https://apps.fortnox.se/oauth-v1/token" />
    <add key="Fortnox:ApiBaseUrl" value="https://api.fortnox.se/3" />
    <add key="Fortnox:Scopes" value="companyinformation customer invoice" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
    <sessionState mode="InProc" timeout="60" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
